#### 1 count numbers

In [14]:
for i in range(-10, 10):
    if i%2 == 0: 
        print(i)

-10
-8
-6
-4
-2
0
2
4
6
8

#### Arithmetic sum

In [7]:
## a)
sum_numbers = 0
for i in range(1, 101):
    sum_numbers += i
print(sum_numbers)

sum_odd = 0
for i in range(1, 100):
    if i%2 == 1:
        sum_odd += i
print(sum_odd)

5050
2500

#### multiplication table

In [50]:
## a
print("6th multiplication table is ")
for i in range(0,11):
    print(f" \n {i} * 6 = {i * 6}")

## b
desired_num = int(input("Input your desired multiploication number"))
start_mul = int(input("Input start of table"))
end_mul = int(input("Input start of table"))

for i in range(start_mul, end_mul):
     print(f" \n {i} * {desired_num} = {i * desired_num}")

## c 
for row in range(1,4):
    for col in range(1,4):
        print(f"({row}, {col})", end="")
    print() #newline

for x in range(0,11):
    for y in range(0,11):
        print(f"{x * y}\t" , end="")
    print()

6th multiplication table is

 0 * 6 = 0

 1 * 6 = 6

 2 * 6 = 12

 3 * 6 = 18

 4 * 6 = 24

 5 * 6 = 30

 6 * 6 = 36

 7 * 6 = 42

 8 * 6 = 48

 9 * 6 = 54

 10 * 6 = 60

 2 * 2 = 4
(1, 1)(1, 2)(1, 3)
(2, 1)(2, 2)(2, 3)
(3, 1)(3, 2)(3, 3)
0	0	0	0	0	0	0	0	0	0	0
0	1	2	3	4	5	6	7	8	9	10
0	2	4	6	8	10	12	14	16	18	20
0	3	6	9	12	15	18	21	24	27	30
0	4	8	12	16	20	24	28	32	36	40
0	5	10	15	20	25	30	35	40	45	50
0	6	12	18	24	30	36	42	48	54	60
0	7	14	21	28	35	42	49	56	63	70
0	8	16	24	32	40	48	56	64	72	80
0	9	18	27	36	45	54	63	72	81	90
0	10	20	30	40	50	60	70	80	90	100

### Faculty

In [73]:
import math
number =  int(input("Input a number"))
product = 1

for i in range(1, number):
    product = product * i
print(product)

24

### guess the number

In [ ]:
import random as rnd
import math

rand = rnd.randint(0,9)
for i in range(0,9):
    math.ra

### rice on chessboard

In [105]:
#might need a better solution later on
sum_num = 0
for i in range(1, 64):
    sum_num += (2**i)
print(sum_num + 1)

18446744073709551615